@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&family=Englebert&family=Titan+One&display=swap');

body, html, *{
    box-sizing: border-box;
    font-size: 10px;
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: rgb(196, 172, 141);
}

.heading {
    text-align: center;
    font-size: 6rem;
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    margin: 2rem auto;
}

form {
    display: flex;
    flex-direction: column;
}

.input-box {
    margin: 1rem auto;
}
.input-label {
    font-family: "Englebert", cursive;
    font-size: 3rem;
}
.input-value {
    height: 2.5rem;
    width: 25rem;
    font-size: 2rem;
    font-family: "Slabo 27px", serif;
    padding: 0.25rem;
}

.container {
    margin: 5rem auto;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card {
    background-color: rgb(148, 121, 85);
    margin: 2rem auto;
    padding: 1rem;
    width: 26%;
    height: 40rem;
    border: 2px;
    border-radius: 15px;
    border-color: black;
    border-width: 3px;
    font-family: "Englebert", cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-name {
    font-size: 3rem;
}
.card-artist {
    font-size: 2.5rem;
}
.card-img {
    height: 80%;
    width: 90%;
    object-fit: cover;
    border-radius: 15px;
}
button {
    height: 5rem;
    width: 10rem;
    font-family: "Slabo 27px", serif;
    font-size: 2.5rem;
    margin: 2rem auto;
    background-color: rgb(112, 185, 112);
    border-color: rgb(164, 201, 164);
    border-style: outset;
}